.filter-button-container{
    position: fixed;
    left: 30px;
    bottom: 15px;
}

.refresh-button-container{
    position: fixed;
    left: 30px;
    bottom: 100px;
}
.top-chips-continer {
    padding: 5px;
}
.chip-theme {
    background-color: rgb(35, 253, 144) !important;
    margin: 3px;
}