<div class="top-chips-continer" dir="rtl">
    <mat-chip-row class="chip-theme" *ngFor="let filter of chips_arr">
      {{filter}}
      <!-- <button matChipRemove [attr.aria-label]="'remove ' + filter">
        <mat-icon>cancel</mat-icon>
      </button> -->
    </mat-chip-row>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" dir='rtl'>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> מס </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> עיר </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <!-- Rooms Column -->
    <ng-container matColumnDef="rooms" *ngIf="apiInputType!='commercial'">
      <th mat-header-cell *matHeaderCellDef> חדרים </th>
      <td mat-cell *matCellDef="let element" > {{element.rooms}} </td>
    </ng-container>
     <!-- Area Column -->
     <ng-container matColumnDef="rooms" *ngIf="apiInputType=='commercial'">
        <th mat-header-cell *matHeaderCellDef> שטח מ"ר</th>
        <td mat-cell *matCellDef="let element" > {{element.rooms}} </td>
      </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> מחיר </th>
      <td mat-cell *matCellDef="let element" style="background: #ffffc9;"> {{element.price | number: '2.'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></tr>
  </table>
  <div class="filter-button-container">
    <button mat-fab color="primary" aria-label="Filter Button" (click)="openSearchDialog()">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="refresh-button-container">
    <button mat-fab color="secondary" aria-label="Refresh Button" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>