<div class="container" dir='rtl'>
    <h1 mat-dialog-title align="center">חיפוש</h1>
    <div mat-dialog-content>
        <form id="ngForm" class="example-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <p>מחיר</p>
            <div style="display:flex;justify-content: space-around;" >
                    <mat-form-field style="width:30vw;">
                        <mat-label>החל מ</mat-label>
                        <input type="number" matInput [formControlName]="'price_min'" [(ngModel)]="searchForm.value.price_min" >
                        <button *ngIf="searchForm.value.price_min" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.value.price_min=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field style="width:30vw;">
                        <mat-label>עד</mat-label>
                        <input type="number" matInput [formControlName]="'price_max'" [(ngModel)]="searchForm.value.price_max">
                        <button *ngIf="searchForm.value.price_max" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.value.price_max=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            <div *ngIf="data.apiInputType!='commercial'">
                <p>מספר חדרים</p>
                <div style="display:flex;justify-content: space-around;" >
                    <mat-form-field appearance="fill" style="width:30vw;">
                        <mat-label>החל מ</mat-label>
                        <mat-select [formControlName]="'number_of_rooms_min'">
                            <mat-option *ngFor="let room of rooms" [value]="room">
                            {{room}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width:30vw;">
                        <mat-label>עד</mat-label>
                        <mat-select [formControlName]="'number_of_rooms_max'">
                            <mat-option *ngFor="let room of rooms" [value]="room">
                            {{room}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="data.apiInputType=='commercial'">
                <p>שטח</p>
                <div style="display:flex;justify-content: space-around;" >
                    <mat-form-field style="width:30vw;">
                        <mat-label>החל מ</mat-label>
                        <input type="number" matInput [formControlName]="'number_of_rooms_min'" [(ngModel)]="searchForm.value.number_of_rooms_min" >
                        <button *ngIf="searchForm.value.number_of_rooms_min" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.value.number_of_rooms_min=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field style="width:30vw;">
                        <mat-label>עד</mat-label>
                        <input type="number" matInput [formControlName]="'number_of_rooms_max'" [(ngModel)]="searchForm.value.number_of_rooms_max">
                        <button *ngIf="searchForm.value.number_of_rooms_max" matSuffix mat-icon-button aria-label="Clear" (click)="searchForm.value.number_of_rooms_max=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>עיר</mat-label>
                <mat-select multiple [formControlName]="'city'">
                    <mat-option *ngFor="let city of cities" [value]="city">
                    {{city}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
          </form>
    </div>
    
    <div mat-dialog-actions align="center">
      <button mat-button mat-dialog-close cdkFocusInitial (click)="onNoClick()">סגור</button>
      <button mat-button mat-dialog-close cdkFocusInitial  form="ngForm" type="submit">חיפוש</button>
      <!-- <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button  cdkFocusInitial>Ok</button> -->
    </div>
  </div>